<footer>
  <div class="footer">
    <p>&#169 Copyright <span id="copyright-year"></span></p>
    <p>
      <a class="links" href="/privacy-terms">Privacy</a> & <a class="links" href="/privacy-terms">Terms of Service</a>
    </p>
  </div>
</footer>